/Backend/trackify/src/main/resources/application-local.properties

/Backend/trackify/target/
*.log
*.err

.vscode/
.idea/
*.iml
.project
.classpath
.settings/

/Frontend/node_modules/
/Frontend/dist/
.npm/
npm-debug.log*

.DS_Store
Thumbs.db